body {
  background-color:  purple;
}
img {
  max-width: 100px;
  height: auto;
}
.Section-Title {
  font-family: 'Open Sans';
  text-decoration: underline;
  font-size: 150px;
}
h2,h3 {
  color: blue;
}
