body {
  background-color:  purple;
}
h3 {
  padding: 70x 30px 70px;
}
.date {
  float: right;
  {
.Section-Title {
  font-family: 'Open Sans';
  text-decoration: underline;
  font-size: 150px;
}
h2,h3 {
  color: blue;
}
